---
cimc_address: '331 Broadway, Cambridge, MA 02139'
cimc_timezone: 'US/Eastern'
cimc_scheduler_url: 'https://clients.mindbodyonline.com/ASP/home.asp?studioid=11692'
google_calendar_id: '6rggv4oi29bdskiaktlkr0ob90@group.calendar.google.com'
google_oauth:
  mechanism: oauth_2
  scope: https://www.googleapis.com/auth/calendar
  client_id: ...
  client_secret: ...
  access_token: ...
  refresh_token: ...
